@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.disabled-date {
    background-color: #e0e0e0 !important; /* Lighter grey for better visibility */
    color: #a0a0a0 !important; /* Grey text color */
    pointer-events: none; /* Prevents clicking */
    opacity: 0.6; /* Further dims the date */
}

.selected-date {
    background-color: #28a745 !important;
    color: white !important;
}

/* Optional: Change cursor to not-allowed for disabled dates */
.disabled-date .fc-daygrid-day-number {
    cursor: not-allowed;
}
