@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ededed;
        --foreground: black;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.disabled-date {
    background-color: #e9ecef !important;
    color: #6c757d !important;
    pointer-events: none;
    opacity: 0.6; /* Further dims the date */
    cursor: not-allowed;
}
